@model SQLTeacher.Models.Exercises

@{
    ViewData["Title"] = "Création";
}

<h2>Création</h2>

<h4>Exercice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required data-msg="Ce champ est requis" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DbScript" class="control-label"></label>
                <input asp-for="DbScript" class="form-control" required data-msg="Ce champ est requis" />
                <span asp-validation-for="DbScript" class="text-danger"></span>
            </div>
            <div id="questionsList">
                
            </div>
            <div class="form-group">
                <input id="addQuestion" type="button" value="Ajouter une question" class="btn btn-default" />
            </div>
            <div class="form-group">
                <input id="submitButton" type="button" value="Ajouter" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour vers la liste</a>
</div>

<script id="hidden-template" type="text/x-custom-template">
    <div class="question">
        <label class="control-label">Requête</label>
        <input type="text" class="form-control" />
        <label class="control-label">Question</label>
        <input type="text" class="form-control" />
    </div>
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
